# API CONFIG
BASE_URL=http://localhost:4000
CLIENT_URL=http://localhost:4001
# SERVER CONFIG
PORT=4000
HOST=
# COOKIE CONFIG
COOKIE_SECRET=secret
# CORS CONFIG
CORS_ORIGIN=http://localhost:4001
CORS_CREDENTIALS=true
# DATABASE CONFIG
DATABASE_URL=mongodb://localhost:27001/?replicaSet=rs0
DATABASE_NAME=papi_starter_test_db
# EMAIL CONFIG
EMAIL_ENDPOINT=
# POINTHUB CONFIG
POINTHUB_SECRET=secret